n8n-workflow.json
{
    "name": "Full-Content Multi-Category Blog Automation",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "minutes": 0,
                            "seconds": 0,
                            "hours": 4
                        }
                    ]
                }
            },
            "name": "Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://feeds.feedburner.com/TechCrunch/"
            },
            "name": "Financial News (Example)",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                450,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://www.aljazeera.com/xml/rss/all.xml"
            },
            "name": "Geopolitics News",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://www.sciencedaily.com/rss/earth_climate/geography.xml"
            },
            "name": "Geographical News",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                450,
                500
            ]
        },
        {
            "parameters": {
                "operation": "limit",
                "maxItems": 1
            },
            "name": "Limit",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{$json[\"link\"]}}",
                "responseFormat": "string",
                "options": {}
            },
            "name": "Fetch Full Page",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "dataPropertyName": "data",
                "extractionValues": {
                    "values": [
                        {
                            "key": "fullContent",
                            "cssSelector": "article, .post-content, .entry-content, main",
                            "returnValue": "html"
                        },
                        {
                            "key": "ogImage",
                            "cssSelector": "meta[property='og:image']",
                            "returnValue": "attribute",
                            "attribute": "content"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Extract Content",
            "type": "n8n-nodes-base.htmlExtract",
            "typeVersion": 1,
            "position": [
                950,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/api/automation/blogs",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer your_secure_password"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{$node[\"Limit\"].json[\"title\"]}}"
                        },
                        {
                            "name": "content",
                            "value": "={{$json[\"fullContent\"] || $node[\"Limit\"].json[\"content\"] || $node[\"Limit\"].json[\"contentSnippet\"]}} <br> <a href=\"{{$node[\"Limit\"].json[\"link\"]}}\">Read source</a>"
                        },
                        {
                            "name": "category",
                            "value": "={{$node[\"Limit\"].json[\"sourceCategory\"]}}"
                        },
                        {
                            "name": "image",
                            "value": "={{$json[\"ogImage\"] || $node[\"Limit\"].json[\"content\"]?.match(/src=\"([^\"]+)\"/)?.[1] || \"\"}}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Post Blog",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "keepOnlySet": false,
                "values": {
                    "string": [
                        {
                            "name": "sourceCategory",
                            "value": "Financial"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Set Financial",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                550,
                100
            ]
        },
        {
            "parameters": {
                "keepOnlySet": false,
                "values": {
                    "string": [
                        {
                            "name": "sourceCategory",
                            "value": "Geopolitics"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Set Geopolitics",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                550,
                300
            ]
        },
        {
            "parameters": {
                "keepOnlySet": false,
                "values": {
                    "string": [
                        {
                            "name": "sourceCategory",
                            "value": "Geographical"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Set Geographical",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                550,
                500
            ]
        }
    ],
    "connections": {
        "Schedule": {
            "main": [
                [
                    {
                        "node": "Financial News (Example)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Geopolitics News",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Geographical News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Financial News (Example)": {
            "main": [
                [
                    {
                        "node": "Set Financial",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Geopolitics News": {
            "main": [
                [
                    {
                        "node": "Set Geopolitics",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Geographical News": {
            "main": [
                [
                    {
                        "node": "Set Geographical",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Financial": {
            "main": [
                [
                    {
                        "node": "Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Geopolitics": {
            "main": [
                [
                    {
                        "node": "Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Geographical": {
            "main": [
                [
                    {
                        "node": "Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit": {
            "main": [
                [
                    {
                        "node": "Fetch Full Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Full Page": {
            "main": [
                [
                    {
                        "node": "Extract Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Content": {
            "main": [
                [
                    {
                        "node": "Post Blog",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}